@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}

.spinner {
  font-size: 50px;
  text-align: center;
  animation: 2s spin linear infinite;
  display: none;
}

.dog-image {
  display: none;
  width: 80%;
  margin: auto;
}

.show {
  display: block;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

select {
  /* max-height: 40px; */
  max-width: 200px;
  margin-bottom: 20px;
}
